:root {
    --back-clea: rgb(228, 209, 212);
    --color-padrao: rgba(238, 136, 153, 0.664);
    /*cores definidas para o projeto*/
}

#secaodologin {
    width: 70%;
    margin: auto;
}

#Nome-da-empresa {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: var(--color-padrao);
    background-color: var(--back-clea);

}

#secaodologin img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem
}

#secaodologin {
    align-items: center;
    margin-top: 4rem;
    border-radius: 2rem;
    box-shadow: 0 5px 15px black;
}


#login-div {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    margin: auto;
}

.login {
    font-size: 30px;
}

.inputlogin {
    margin: auto;
    padding: .5rem 4rem 0;
    border: 1mm ridge var(--color-padrao);
    text-align: left;
    text-align: center;
}

.botaologin {

    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 4rem 0;
    border-radius: .8rem;
    border-color: var(--back-clea);
    background-image: linear-gradient(to bottom, var(--color-padrao), rgb(243, 239, 240));
}

.botaologin:hover {
    background-image: linear-gradient(to bottom, rgb(243, 239, 240), var(--color-padrao));
}

/*media queire*/


@media (max-width: 480px) {
    body {
        width: 100%;
    }

    #Nome-da-empresa{
        font-size: 35px;
    }

    .inputlogin {
        margin: auto;
        max-width: 1rem;
        
    }

}